{% extends 'base.html' %}

{% block title %}GitHub Profile: {{ username }}{% endblock %}

{% block content %}
  <section class="profile">
    <h2>{{ username }}</h2>
    <img src="{{ user['avatar_url'] }}" alt="Profile Image">
    <h3>Repositories:</h3>
    <div class="repo-list">
      <ul>
        {% for repo in repositories %}
        <li>
          <div class="repo-info">
            <h4><a href="{{ repo['html_url'] }}" target="_blank">{{ repo['name'] }}</a></h4>
            <p>{{ repo['description'] or 'No description provided' }}</p>
            <div class="repo-meta">
              <span>Language: {{ repo['language'] }}</span>
              <span>Stars: {{ repo['stargazers_count'] }}</span>
              <span>Forks: {{ repo['forks_count'] }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
